<ng-container *ngIf="!isLoading;else loader">
    <div class="container">
        <div class="mt-4 border border-2 p-3 rounded-3">
            <div class="row">
                <div class="col-12 col-md-7">
                    <h1>{{restaurantDetails.name}}</h1>
                    <h4>{{restaurantDetails.cuisine}}</h4>
                    <p>{{restaurantDetails.location}}</p>
                </div>
                <div class="col-md-5 col-12">
                    <img src="{{restaurantDetails.imageUrl}}" alt="Card image cap"
                        style="width: 100%; height:20vh; object-fit: cover; border-radius: 0.5em;">
                </div>
            </div>
            <div class="row mt-2">
                <div class="btn-group">
                    <button class="btn btn-primary">Order Online</button>
                    <button class="btn btn-primary ms-2">Reviews</button>
                    <button class="btn btn-primary ms-2">Order</button>
                </div>
            </div>
        </div>
        <div class="row" style="height:100vh">
            <div class="col-md-6 col-12">
                <div class="rounded-2 p-2 d-flex flex-row mt-2 " *ngFor="let menu of restaurantDetails.menus">
                    <div>
                        <img src="{{menu.imageUrl}}" alt="Card image cap"
                            style="width: 100%; height:15vh; object-fit: cover; border-radius: 0.5em;">
                    </div>
                    <div class="d-flex flex-row">
                        <div class="ms-2 d-flex flex-column">
                            <span><strong>{{menu.dishName}}</strong></span>
                            <span>₹{{menu.price}} </span>
                            <div class="d-flex flex-row">
                                <i *ngFor="let star of [].constructor(5); let index = index" class="fa-star"
                                    [ngClass]="index < 3 ? 'fa-solid' : 'fa-regular'">
                                </i>
                            </div>
                            <span class="text-muted">Best Ordered With Cold Drink</span>
                        </div>
                        <div class="d-flex justify-content-center align-items-center ms-5">
                            <ng-container *ngIf="menu.quantity==0;else updateQuantity">
                                <button class="btn btn-danger" (click)="updateCart(menu)" >Add to Cart</button>
                            </ng-container>
                            <ng-template #updateQuantity>
                                <div class="btn-group">
                                    <i class="fa-solid bg-dark text-white p-2 rounded-3 fa-minus" (click)="updateCart(menu, true)"></i> 
                                    <span class="fs-5 mx-2"> {{menu.quantity}} </span> 
                                    <i class="fa-solid bg-dark text-white p-2 rounded-3 fa-plus" (click)="updateCart(menu)" ></i>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #loader>
    <div class="text-center mt-5">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</ng-template>